{:id :m001/alter-schema
 :tx-data [{:db/ident :life/meaning
            :db/doc "meaning of life"
            :db/valueType :db.type/long
            :db/cardinality :db.cardinality/one
            :db/id #db/id[:db.part/db]
            :db.install/_attribute :db.part/db}]}
